
body {
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    line-height: 1.5;
}

a {
    display: block;
	text-decoration: none;
	color: $light;
	&:hover {
		opacity: 0.5;
	}
}
img {
	vertical-align: middle;
	// display: block;
	/* 自適應 */
	max-width: 100%;
	height: auto;
	}
*,*::before,*::after{
		box-sizing: border-box;
	}
h2 {
	font-size: 64px;
	@include mobile {
		font-size: 24px;
	}
}
h3 {
	font-size: 48px;
	@include mobile {
		font-size: 24px;
	}
}
h4 {
	font-size: 24px;
}