$primary:#AA0601;
$secondary:#000000;
$tertiary:#FBF2F2;
$dark-red:#650300;
$light:#FFFFFF;
$brown:#5F3E2D;
$lightBrown:#B75929;
$light-gray:#DCDCDC;
$dark-gary:#555555;
$lighter-gary:#F2F2F2;
$other-black:#0A0A0A;